In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

In [2]:
df_2016 = pd.read_csv('data/pd_calls_for_service_2016_datasd.csv')
df_dispo = pd.read_csv('data/pd_dispo_codes_datasd.csv')
df_call_type = pd.read_csv('data/pd_cfs_calltypes_datasd.csv')

C:\Users\StFed\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df_2016.head()

,incident_num,date_time,day,stno,stdir1,street,streettype,stdir2,stname2,sttype2,call_type,disposition,beat,priority
0,P16010000001,2016-01-01 00:00:04,6,1400,NaN,CONTINENTAL,ST,NaN,NaN,NaN,459A,K,713.0,2.0
1,P16010000002,2016-01-01 00:00:06,6,0,NaN,SHOPS INFO LOG,NaN,NaN,NaN,NaN,SHOPS,K,999.0,4.0
2,P16010000003,2016-01-01 00:00:20,6,0,NaN,CHP INFO LOG,NaN,NaN,NaN,NaN,INFOCHP,K,999.0,4.0
3,P16010000004,2016-01-01 00:00:25,6,0,NaN,FRONT COUNTERS,NaN,NaN,NaN,NaN,FC,K,999.0,4.0
4,P16010000006,2016-01-01 00:00:33,6,500,NaN,SICARD,ST,NaN,NaN,NaN,AU2,W,512.0,2.0

In [45]:
df_2016.shape

(461172, 14)

In [7]:
pd.DataFrame(df_2016.disposition.value_counts().head(13)) \
             .merge(df_dispo, left_index=True, right_on='dispo_code', how='left')

    disposition dispo_code                                        description
2        212417          K                                 NO REPORT REQUIRED
7        102635          O                                              OTHER
1         34281          R                                             REPORT
3         25831          W  NO DISPATCH OR INCIDENT CANCELLED PRIOR TO DIS...
9         24314        CAN                                             CANCEL
0         18711          A                                             ARREST
5         14257          U                                          UNFOUNDED
10         7684        DUP                   DUPLICATE CALL, CROSS REFERENCED
24         6503         OT                                  TRANSIENT RELATED
22         2870         KT         NO FURTHER ACTION TAKEN, TRANSIENT RELATED
6          2712          S                STOLEN VEHICLE OR RECOVERED VEHICLE
8          2082          X  DISPATCHED ALARM CALL CANCELLED BEFORE UNIT ON...
20         1382         AT                          ARREST, TRANSIENT RELATED

In [9]:
pd.DataFrame(df_2016.call_type.value_counts().head(50)) \
             .merge(df_call_type, left_index=True, right_on='call_type', how='left') \
             .drop('call_type_y', axis=1)

    call_type  call_type_x                     description
35       1150        38159        TRAFFIC STOP/WITHLICENSE
99        415        36431                DISTURBING PEACE
117      459A        26654                  BURGLARY ALARM
36       1151        20246        PED STOP/FIELD INTERVIEW
217        CW        16385               CHECK THE WELFARE
107      415V        12813     DISTURBING PEACE W/VIOLENCE
141       586        12392                 ILLEGAL PARKING
157       911        10689     UNK EMERG,HANG UP/OPEN LINE
2        1016         9519             PRISONER IN CUSTODY
102      415N         8608     DISTURBING PEACE NOISE ONLY
230        FD         8307       FLAG DOWN/FIELD INITIATED
53       1185         7821           REQUEST FOR TOW TRUCK
50       1183         7695              NO DETAIL ACCIDENT
54       1186         7414                  SPECIAL DETAIL
238        FU         7156         FOLLOW-UP BY FIELD UNIT
285    SELENF         7008           SELECTIVE ENFORCEMENT
243      HZRD         6858             HAZARDOUS CONDITION
134      5150         6554                     MENTAL CASE
254    MCTSTP         6464         TRAFFIC STOP,FOR TMPOUT
244      INFO         6090     INFORMATION FOR DISPATCHERS
289   SLEEPER         6054                         SLEEPER
172       AU2         5543     ALL UNITS INFORMATION-PRI 2
266     PARTY         5419                      LOUD PARTY
12     10851R         5271                CAR THEFT REPORT
156      72HR         5093  VEH VIOLATING 72HR PARKING RES
274    REPORT         4689       CRIME CASE NUMBER REQUEST
37       1153         4633                  SECURITY CHECK
81        242         4502                         BATTERY
120      459R         4454                 BURGLARY REPORT
234      FOOT         4272     FOOT PATROL/FIELD INITIATED
175   AU23103         4138      RECKLESS DRIVING-ALL UNITS
151       602         4012                     TRESPASSING
118      459C         3957                  BURGLARY CASER
195        CC         3850                 CITIZEN CONTACT
104     415PP         3533              PRESERVE THE PEACE
127      488R         3402          PETTY THEFT/UNDER $950
62      20002         3323                    MISD HIT/RUN
137       530         3052  FALSE USE OF ANOTHERS IDENTITY
153      647F         2935           DRUNK - DRUGS/ALCOHOL
263      NARC         2823              NARCOTICS ACTIVITY
176   AU23152         2816       DWI-ALL UNITS INFORMATION
17     10852R         2750          TAMPERING W/VEH REPORT
21       11-8         2741                     PERSON DOWN
158      911P         2634    UNK EMER,HANGUP/OPEN,PAYFONE
304     42682         2628                             NaN
7        1021         2576              PHONE YOUR STATION
284    SCHOOL         2538                   SCHOOL DETAIL
64     20002R         2517              HIT AND RUN REPORT
13    10851RR         2503       CAR THEFT RECOVERY REPORT
34       1149         2383      TRAFFIC STOP/NO LICENSE CK

In [23]:
df_2016[df_2016['disposition'].isnull()]

,incident_num,date_time,day,stno,stdir1,street,streettype,stdir2,stname2,sttype2,call_type,disposition,beat,priority
567,P16010000616,2016-01-01 07:08:06,6,0,NaN,MDT,NaN,NaN,NaN,NaN,LOGON,NaN,NaN,4.0
693,P16010000751,2016-01-01 09:24:07,6,0,NaN,KEATS,ST,NaN,ROSECRANS,ST,488R,NaN,615.0,4.0
699,P16010000757,2016-01-01 09:28:06,6,15100,NaN,SEGOVIA,CT,NaN,NaN,NaN,530,NaN,233.0,4.0
709,P16010000768,2016-01-01 09:38:55,6,2600,NaN,WORDEN,ST,NaN,NaN,NaN,530,NaN,613.0,4.0
879,P16010000960,2016-01-01 12:19:17,6,200,NaN,05TH,AV,NaN,NaN,NaN,488R,NaN,523.0,4.0
940,P16010001029,2016-01-01 13:17:30,6,900,NaN,F,ST,NaN,NaN,NaN,530,NaN,521.0,4.0
1062,P16010001165,2016-01-01 14:56:20,6,500,NaN,SATURN,BL,NaN,NaN,NaN,488R,NaN,721.0,4.0
1083,P16010001186,2016-01-01 15:09:33,6,3500,NaN,SPORTS ARENA,BL,NaN,NaN,NaN,10852R,NaN,611.0,4.0
1157,P16010001264,2016-01-01 15:59:31,6,4900,NaN,ARIVA,WY,NaN,NaN,NaN,530,NaN,313.0,4.0
1211,P16010001324,2016-01-01 16:39:07,6,8600,NaN,MIRAMAR,RD,NaN,NaN,NaN,MCTSTP,NaN,243.0,1.0
1213,P16010001326,2016-01-01 16:39:57,6,6900,NaN,LINDA VISTA,RD,NaN,NaN,NaN,10852R,NaN,621.0,4.0
1289,P16010001407,2016-01-01 17:38:38,6,0,NaN,COMMERCE,AV,NaN,MIRAMAR,RD,MCTSTP,NaN,243.0,1.0
1360,P16010001480,2016-01-01 18:31:18,6,2400,NaN,CORONADO SB,AV,NaN,NaN,NaN,537R,NaN,724.0,4.0
1465,P16010001593,2016-01-01 20:00:11,6,2200,NaN,RIVER RUN,DR,NaN,NaN,NaN,MCTSTP,NaN,315.0,1.0
2031,P16010002193,2016-01-02 08:23:18,7,800,NaN,DESTY,ST,NaN,NaN,NaN,MCTSTP,NaN,724.0,1.0
2387,P16010002576,2016-01-02 14:04:04,7,7500,NaN,WESTBROOK,AV,NaN,NaN,NaN,10852R,NaN,437.0,4.0
2821,P16010003042,2016-01-02 20:07:09,7,0,NaN,CAM RUIZ,NaN,NaN,JADE COAST,DR,1185,NaN,242.0,2.0
2850,P16010003077,2016-01-02 20:36:56,7,3500,NaN,VALLEY CENTRE,DR,NaN,NaN,NaN,10852R,NaN,934.0,4.0
2900,P16010003130,2016-01-02 21:17:30,7,0,NaN,CAM RUIZ,NaN,NaN,JADE COAST,DR,1185,NaN,242.0,2.0
2904,P16010003135,2016-01-02 21:20:35,7,8700,NaN,MIRA MESA,BL,NaN,NaN,NaN,488R,NaN,242.0,4.0
2952,P16010003190,2016-01-02 22:10:50,7,3000,NaN,ERIE,ST,NaN,NaN,NaN,OVO,NaN,116.0,NaN
3005,P16010003248,2016-01-02 22:58:47,7,13000,NaN,HIGH BLUFF,DR,NaN,NaN,NaN,MCTSTP,NaN,934.0,1.0
3046,P16010003293,2016-01-02 23:33:23,7,600,NaN,L,ST,NaN,NaN,NaN,MCTSTP,NaN,521.0,1.0
3121,P16010003381,2016-01-03 00:47:23,1,0,NaN,07TH,AV,NaN,MARKET,ST,10852R,NaN,521.0,4.0
3322,P16010003595,2016-01-03 06:12:06,1,9500,NaN,CANDIDA,ST,NaN,NaN,NaN,10852R,NaN,243.0,4.0
3338,P16010003613,2016-01-03 06:47:18,1,100,NaN,EAST PARK,AV,NaN,NaN,NaN,MCTSTP,NaN,712.0,1.0
3400,P16010003677,2016-01-03 08:15:09,1,600,NaN,COCHRAN,AV,NaN,NaN,NaN,MCTSTP,NaN,723.0,1.0
3453,P16010003733,2016-01-03 09:06:41,1,0,NaN,ROLL,DR,NaN,SIEMPRE VIVA,RD,10852R,NaN,713.0,4.0
3705,P16010004006,2016-01-03 13:06:12,1,1100,S,38TH,ST,NaN,NaN,NaN,LOST,NaN,442.0,4.0
3737,P16010004042,2016-01-03 13:30:28,1,300,NaN,CAM DEL MAR,NaN,NaN,NaN,NaN,530,NaN,933.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459084,P16080012224,2016-08-08 10:44:34,2,2700,NaN,TERESITA,ST,NaN,NaN,NaN,488R,NaN,813.0,4.0
459085,P16080012224,2016-08-08 10:44:34,2,2700,NaN,TERESITA,ST,NaN,NaN,NaN,488R,NaN,813.0,4.0
459182,P16080012274,2016-08-08 11:22:29,2,3200,NaN,NATIONAL,AV,NaN,NaN,NaN,10852R,NaN,512.0,4.0
459183,P16080012274,2016-08-08 11:22:29,2,3200,NaN,NATIONAL,AV,NaN,NaN,NaN,10852R,NaN,512.0,4.0
459244,P16080012306,2016-08-08 11:41:12,2,3500,NaN,31ST,ST,NaN,NaN,NaN,653M,NaN,813.0,4.0
459245,P16080012306,2016-08-08 11:41:12,2,3500,NaN,31ST,ST,NaN,NaN,NaN,653M,NaN,813.0,4.0
459356,P16080012367,2016-08-08 12:25:18,2,3700,NaN,MYKONOS,LN,NaN,NaN,NaN,530,NaN,934.0,4.0
459357,P16080012367,2016-08-08 12:25:18,2,3700,NaN,MYKONOS,LN,NaN,NaN,NaN,530,NaN,934.0,4.0
459394,P16080012388,2016-08-08 12:35:13,2,3500,NaN,LEBON,DR,NaN,NaN,NaN,530,NaN,115.0,4.0
459395,P16080012388,2016-08-08 12:35:13,2,3500,NaN,LEBON,DR,NaN,NaN,NaN,530,NaN,115.0,4.0
459468,P16080012428,2016-08-08 13:08:39,2,3200,NaN,LOWELL,ST,NaN,NaN,NaN,487R,NaN,613.0,4.0
459469,P16080012428,2016-08-08 13:08:39,2,3200,NaN,LOWELL,ST,NaN,NaN,NaN,487R,NaN,613.0,4.0
459506,P16080012449,2016-08-08 13:21:58,2,5500,NaN,FORBES,AV,NaN,NaN,NaN,530,NaN,322.0,4.0
459507,P16080012449,2016-08-08 13:21:58,2,5500,NaN,FORBES,AV,NaN,NaN,NaN,530,NaN,322.0,4.0
459547,P16080012469,2016-08-08 13:36:18,2,3700,NaN,JENNINGS,ST,NaN,NaN,NaN,10852R,NaN,617.0,4.0
459549,P16080012469,2016-08-08 13:36:18,2,3700,NaN,JENNINGS,ST,NaN,NaN,NaN,10852R,NaN,617.0,4.0
459766,P16080012591,2016-08-08 14:59:55,2,800,NaN,JENNINGS,PL,NaN,NaN,NaN,OVO,NaN,616.0,NaN
459767,P16080012591,2016-08-08 14:59:55,2,800,NaN,JENNINGS,PL,NaN,NaN,NaN,OVO,NaN,616.0,NaN
459978,P16080012705,2016-08-08 16:10:49,2,5900,NaN,UNIVERSITY,AV,NaN,NaN,NaN,488R,NaN,822.0,4.0
459979,P16080012705,2016-08-08 16:10:49,2,5900,NaN,UNIVERSITY,AV,NaN,NaN,NaN,488R,NaN,822.0,4.0
460220,P16080012838,2016-08-08 17:43:47,2,3500,NaN,LOWELL,ST,NaN,NaN,NaN,OVO,NaN,615.0,NaN
460221,P16080012838,2016-08-08 17:43:47,2,3500,NaN,LOWELL,ST,NaN,NaN,NaN,OVO,NaN,615.0,NaN
460470,P16080012973,2016-08-08 19:14:39,2,2400,NaN,44TH,ST,NaN,NaN,NaN,488R,NaN,836.0,4.0
460471,P16080012973,2016-08-08 19:14:39,2,2400,NaN,44TH,ST,NaN,NaN,NaN,488R,NaN,836.0,4.0
460538,P16080013007,2016-08-08 19:40:23,2,0,NaN,RIDGEGATE,RW,NaN,SOLEDAD MTN,RD,OVO,NaN,124.0,NaN
460539,P16080013007,2016-08-08 19:40:23,2,0,NaN,RIDGEGATE,RW,NaN,SOLEDAD MTN,RD,OVO,NaN,124.0,NaN
460614,P16080013045,2016-08-08 20:06:59,2,0,NaN,BRITANNIA BLVD,NaN,NaN,OTAY MESA,NaN,MCTSTP,NaN,713.0,1.0
460615,P16080013045,2016-08-08 20:06:59,2,0,NaN,BRITANNIA BLVD,NaN,NaN,OTAY MESA,NaN,MCTSTP,NaN,713.0,1.0
461020,P16080013261,2016-08-08 22:45:54,2,4000,NaN,WALLACE,ST,NaN,NaN,NaN,530,NaN,625.0,4.0
461021,P16080013261,2016-08-08 22:45:54,2,4000,NaN,WALLACE,ST,NaN,NaN,NaN,530,NaN,625.0,4.0

In [24]:
df_2016[df_2016['call_type'].isnull()]

,incident_num,date_time,day,stno,stdir1,street,streettype,stdir2,stname2,sttype2,call_type,disposition,beat,priority
260212,P16060008606,2016-06-05 23:31:31,1,0,NaN,2C,ETC BEAT 934,NaN,NaN,CARMEL VALLEY AREA PATROL FOR,NaN,SELENF,NaN,934.0
260213,P16060008606,2016-06-05 23:31:31,1,0,NaN,2C,ETC BEAT 934,NaN,NaN,CARMEL VALLEY AREA PATROL FOR,NaN,SELENF,NaN,934.0
290928,P16060024148,2016-06-14 17:07:52,3,1400,NaN,ALTURAS RD 51 FALLBROOK,CA,NaN,NaN,NaN,NaN,BOL,NaN,999.0
290929,P16060024148,2016-06-14 17:07:52,3,1400,NaN,ALTURAS RD 51 FALLBROOK,CA,NaN,NaN,NaN,NaN,BOL,NaN,999.0
344414,P16060052832,2016-06-30 13:19:40,5,1100,NaN,WALNUT AV CV,NaN,NaN,NaN,NaN,NaN,10851R,NaN,999.0
344415,P16060052832,2016-06-30 13:19:40,5,1100,NaN,WALNUT AV CV,NaN,NaN,NaN,NaN,NaN,10851R,NaN,999.0
390380,P16070030859,2016-07-17 20:32:03,1,0,NaN,116Z2 OFCR COX,OFCR HOWARD,NaN,NaN,NaN,NaN,1021,NaN,116.0
390381,P16070030859,2016-07-17 20:32:03,1,0,NaN,116Z2 OFCR COX,OFCR HOWARD,NaN,NaN,NaN,NaN,1021,NaN,116.0
396078,P16070033922,2016-07-19 16:11:11,3,0,NaN,FOR 243Z2 OFCR GARDNER,S 6785,NaN,NaN,NaN,NaN,1021,NaN,243.0
396079,P16070033922,2016-07-19 16:11:11,3,0,NaN,FOR 243Z2 OFCR GARDNER,S 6785,NaN,NaN,NaN,NaN,1021,NaN,243.0
402978,P16070037608,2016-07-21 18:51:35,5,500,NaN,WOODLAWN 26 CHULA VISTA,91910,NaN,NaN,NaN,NaN,FU,NaN,999.0
402979,P16070037608,2016-07-21 18:51:35,5,500,NaN,WOODLAWN 26 CHULA VISTA,91910,NaN,NaN,NaN,NaN,FU,NaN,999.0

In [38]:
df_call_type.head()

  call_type               description
0        10   OUT OF SERV, SUBJTOCALL
1     10-97           ARRIVE ON SCENE
2      1016       PRISONER IN CUSTODY
3    1016PT  PTU (PRISONER TRANSPORT)
4    1016QC     SHOPLIFTER/QUICK CITE

In [43]:
df_call_type[df_call_type['call_type'] == 'SELENF']

    call_type            description
285    SELENF  SELECTIVE ENFORCEMENT

In [25]:
df_dispo.head()

  dispo_code                                        description
0          A                                             ARREST
1          R                                             REPORT
2          K                                 NO REPORT REQUIRED
3          W  NO DISPATCH OR INCIDENT CANCELLED PRIOR TO DIS...
4          V                                     DUPLICATE CALL

In [37]:
df_dispo

   dispo_code                                        description
0           A                                             ARREST
1           R                                             REPORT
2           K                                 NO REPORT REQUIRED
3           W  NO DISPATCH OR INCIDENT CANCELLED PRIOR TO DIS...
4           V                                     DUPLICATE CALL
5           U                                          UNFOUNDED
6           S                STOLEN VEHICLE OR RECOVERED VEHICLE
7           O                                              OTHER
8           X  DISPATCHED ALARM CALL CANCELLED BEFORE UNIT ON...
9         CAN                                             CANCEL
10        DUP                   DUPLICATE CALL, CROSS REFERENCED
11         AG                                    ARREST, TOY GUN
12         RG                                    REPORT, TOY GUN
13         UG                                 UNFOUNDED, TOY GUN
14         KG                         NO FURTHER ACTION, TOY GUN
15         OG                                     OTHER, TOY GUN
16         AM                     ARREST, MENTAL ILLNESS RELATED
17         RM               REPORT TAKEN, MENTAL ILLNESS RELATED
18         KM    NO FURTHER ACTION TAKEN, MENTAL ILLNESS RELATED
19         OM                      OTHER, MENTAL ILLNESS RELATED
20         AT                          ARREST, TRANSIENT RELATED
21         RT                    REPORT TAKEN, TRANSIENT RELATED
22         KT         NO FURTHER ACTION TAKEN, TRANSIENT RELATED
23         UT                       UNFOUNDED, TRANSIENT RELATED
24         OT                                  TRANSIENT RELATED
25         AC                  ARREST, CHRONIC DOMESTIC VIOLENCE
26         RC            REPORT TAKEN, CHRONIC DOMESTIC VIOLENCE
27         KC  NO FURTHER ACTION TAKEN, CHRONIC DOMESTIC VIOL...
28         UC               UNFOUNDED, CHRONIC DOMESTIC VIOLENCE
29        AHR           ARREST, HIGH RISK (CRISIS RESPONSE TEAM)
30        RHR           REPORT, HIGH RISK (CRISIS RESPONSE TEAM)
31        OHR            OTHER, HIGH RISK (CRISIS RESPONSE TEAM)
32        KHR  NO FURTHER ACTION, HIGH RISK, (CRISIS RESPONSE...
33        AAC                       ARREST (MID CITY ADMIN CITE)
34        RAC                       REPORT (MID CITY ADMIN CITE)
35        KAC      NO FURTHER ACTION TAKEN (MID CITY ADMIN CITE)
36        VAC                    DUPE CALL (MID CITY ADMIN CITE)
37        OAC                        OTHER (MID CITY ADMIN CITE)
38         AB                        ARREST MADE, BOARD & SECURE
39         RB                        REPORT MADE, BOARD & SECURE
40         KB                 NO REPORT REQUIRED, BOARD & SECURE

In [36]:
df_dispo[df_dispo['dispo_code'] == 'SELENF']

Empty DataFrame
Columns: [dispo_code, description]
Index: []